/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-family: Poppins;
  font-size: 62.5%;
  width: 100%;
}
html a {
  text-decoration: none;
  color: black;
}
header {
  background-image: url("../imgs/veggieburger.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
header h1 {
  margin-bottom: 5%;
  font-weight: 600;
  font-size: 6rem;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}
@media (max-width: 625px) {
  header h1 {
    text-align: center;
  }
}
header div button {
  font-size: 2rem;
  border-radius: 5px;
  background-image: linear-gradient(135deg, #49C628 10%, #70F570 100%);
  transition: background-image 375ms ease-in-out;
  border: 0.5px solid black;
  display: block;
  margin: 0 auto;
  padding: 2%;
  cursor: pointer;
}
header div button:hover {
  color: lightgray;
  background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
}
section {
  width: 100%;
  margin: 0 auto;
}
section h1 {
  width: 100%;
  background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
  font-size: 3.6rem;
  font-weight: 600;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
  text-align: center;
  padding: 0.5% 0;
}
section #contsect1 {
  max-width: 800px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
}
@media (max-width: 751px) {
  section #contsect1 {
    justify-content: center;
  }
}
section #contsect1 img {
  max-width: 100%;
  align-self: start;
  border: 1px solid black;
  border-radius: 30px;
  margin: 2% 0;
}
footer {
  background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
  padding: 1% 0;
  font-size: 3rem;
  text-align: center;
}
