/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-family: Poppins;
  font-size: 62.5%;
  color: #343434;
  width: 100%;
  background-color: #E5E5E5;
}
html body {
  background-color: #E5E5E5;
}
html body a {
  text-decoration: none;
}
nav {
  padding: 10px 15px;
  background-image: linear-gradient(135deg, #d7d7d7 50%, #52BA5D 50%);
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #343434;
}
@media (max-width: 745px) {
  nav {
    padding: 0;
  }
}
nav a {
  font-style: normal;
  font-weight: normal;
  font-size: 3.6rem;
  line-height: 54px;
  transition: letter-spacing 400ms ease-in-out;
  color: #52BA5D;
}
nav a:hover {
  letter-spacing: 3px;
}
@media (max-width: 745px) {
  nav a {
    font-size: 3.7rem;
    padding: 2% 0;
    width: 100%;
    text-align: center;
    position: relative;
    background-image: linear-gradient(90deg, #d7d7d7 50%, #52BA5D 50%);
  }
  nav a span {
    padding-left: 30px;
    margin-right: 15px;
  }
}
nav a span {
  color: #343434;
}
nav #navdiv a {
  color: black;
  transition: color 300ms ease-in;
  font-size: 2rem;
  padding-right: 20px;
}
nav #navdiv a:hover {
  color: white;
}
@media (max-width: 745px) {
  nav #navdiv a {
    padding: 4% 0;
    border-top: 1px solid black;
    font-size: 3rem;
    background: #E5E5E5;
  }
}
@media (max-width: 745px) {
  nav #navdiv {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 745px) {
  nav {
    flex-flow: column nowrap;
    background-image: none;
  }
}
header {
  background-image: url("../imgs/veggieburger.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
@media (max-width: 745px) {
  header {
    height: 50vh;
  }
}
header #hwrapper {
  background: rgba(52, 52, 52, 0.7);
  border: 1px solid black;
  border-radius: 5px;
  padding: 2% 1%;
}
header #hwrapper h1 {
  color: black;
  margin-bottom: 5%;
  font-weight: 600;
  font-size: 6rem;
  text-shadow: 2px 4px 3px rgba(216, 216, 216, 0.3);
}
@media (max-width: 693px) {
  header #hwrapper h1 {
    text-align: center;
  }
}
header #hwrapper #button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: green;
  padding: 20px;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  width: 25%;
  text-align: center;
  font-size: 2rem;
  border: none;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}
header #hwrapper #button:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
#indexsection {
  width: 100%;
  margin: 0 auto;
}
#indexsection h1 {
  width: 100%;
  background-image: linear-gradient(135deg, #70F570 10%, #52BA5D 100%);
  font-size: 3.6rem;
  font-weight: 600;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
  text-align: center;
  padding-top: 2.5%;
}
@media (max-width: 803px) {
  #indexsection h1 {
    padding: 5% 0;
  }
}
@media (max-width: 640px) {
  #indexsection h1 {
    font-size: 2rem;
  }
}
#indexsection #contsect1 {
  max-width: 800px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 2%;
}
@media (max-width: 803px) {
  #indexsection #contsect1 {
    flex-flow: column nowrap;
    align-items: center;
    padding: 0;
  }
}
#indexsection #contsect1 .appfeats {
  margin-top: 5%;
}
#indexsection #contsect1 .appfeats h2 {
  font-weight: 600;
  font-size: 2.4rem;
  text-align: center;
}
#indexsection #contsect1 .appfeats hr {
  margin: 3% 0;
}
@media (max-width: 803px) {
  #indexsection #contsect1 .appfeats hr {
    display: none;
  }
}
#indexsection #contsect1 .appfeats img {
  max-width: 100%;
  align-self: start;
  border: 1px solid #343434;
  border-radius: 30px;
}
@media (max-width: 803px) {
  #indexsection #contsect1 .appfeats img {
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 803px) {
  #indexsection #contsect1 .appfeats {
    padding: 4% 0;
    margin-top: 0;
    width: 100%;
  }
  #indexsection #contsect1 .appfeats:nth-child(odd) {
    background-color: #52BA5D;
  }
}
#indexsection h2 {
  text-align: center;
  font-size: 3rem;
  padding: 2% 2%;
}
#indexsection #button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: green;
  padding: 20px;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  width: 25%;
  text-align: center;
  font-size: 2rem;
  border: none;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}
#indexsection #button:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
footer {
  background-image: linear-gradient(135deg, #70F570 10%, #52BA5D 100%);
  padding: 1% 0;
  margin-top: 2%;
  font-size: 2.3rem;
  text-align: center;
}
