section {
    width: 100%;
    margin: 0 auto;
    h1 {
        width: 100%;
        background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
        font-size: 3.6rem;
        font-weight: 600;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
        text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
        text-align: center;
        padding: 1% 0;

        @media (max-width: 640px){
            font-size: 2rem;
        }
    }

    #contsect1 {
        max-width: 800px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 0 auto;

        @media (max-width: 807px) {
            position: relative;
        }

        .slides {
            margin-top: 5%;
            h2 {
                font-weight: 600;
                font-size: 2.5rem;
                text-align: center;
            }
            img {
                max-width: 100%;
                align-self: start;
                border: 1px solid #343434;
                border-radius: 30px;
                margin: 2% 0;
            }
            @media (max-width: 807px) {
                display: none;
            }
        }
        .prev, .next {
            display: none;
            

            @media (max-width: 807px){
                cursor: pointer;
                position: absolute;
                top: 50%;
                width: auto;
                margin-top: -22px;
                padding: 16px;
                color: white;
                font-weight: bold;
                font-size: 18px;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
                user-select: none;
            }
        } 
    }//end cont sect1
    h2 {
        text-align: center;
        font-size: 3rem;
        padding: 2% 0;
    }
    #button {
        .buttonshtoyle();
    }
}

footer {
    background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
    padding: 1% 0;
    margin-top: 2%;
    font-size: 3rem;
    text-align: center;
    }
