#indexsection {
  width: 100%;
  margin: 0 auto;
  h1 {
    width: 100%;
    background-image: linear-gradient(135deg, #70f570 10%, #52ba5d 100%);
    font-size: 3.6rem;
    font-weight: 600;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
    text-align: center;
    padding-top: 2.5%;
    @media (max-width: 768px) {
      font-size: 2.5rem;
      width: 80%;
      margin: 0 auto;
    }
  }

  #contsect1 {
    max-width: 800px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 auto 25px auto;
    padding: 0 2%;

    @media (max-width: 803px) {
      flex-flow: column nowrap;
      align-items: center;
      padding: 0;
    }

    .appfeats {
      margin-top: 5%;
      padding: 40px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column nowrap;
      h2 {
        font-weight: 600;
        font-size: 2.4rem;
        text-align: center;
        padding-bottom: 15px;
      }
      hr {
        margin: 3% 0;
        @media (max-width: 803px) {
          display: none;
        }
      }
      img {
        max-width: 80%;
        object-fit: contain;
        border: 1px solid #343434;
        border-radius: 30px;
        display: block;

        @media (max-width: 803px) {
          margin: 0 75px;
        }
      }

      @media (max-width: 803px) {
        margin-top: 0;
        width: 100%;
        &:nth-child(even) {
          background-color: #52ba5d;
        }
      }
    } //end app feats
  } //end cont sect1 on index page
  h2 {
    text-align: center;
    font-size: 3rem;
    padding: 2% 2%;
    @media (max-width: 425px) {
      padding: 0;
    }
  }
  #end-h2 {
    margin: 0 auto 20px auto;
    max-width: 80%;
    text-align: center;
    line-height: 2;
    @media (max-width: 425px) {
      font-size: 2.3rem;
    }
  }
  #button {
    .buttonshtoyle();
    @media (max-width: 595px) {
      margin-bottom: 3%;
    }
  }
}

#abouth1 {
  font-size: 3rem;
  text-align: center;
  padding: 20px 0;
  @media (max-width: 600px) {
    font-size: 2rem;
  }
}

#teamsection {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
  background-image: url("../imgs/team.jpg");
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;

  .teaminfo {
    background: #f4f4f4;
    padding: 20px;
    font-size: 2rem;
    h2 {
      font-size: 2.2rem;
      margin-bottom: 10px;
    }
    p {
      margin: 15px 0;
      line-height: 1.5;
    }
    a {
      color: #242424;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      img {
        width: 30px;
        margin-right: 10px;
      }
    }
    @media (max-width: 325px) {
      max-width: 80%;
    }
  }
}

footer {
  background-image: radial-gradient(
    circle farthest-corner at 0.4% 34.3%,
    rgba(65, 199, 58, 1) 1.3%,
    rgb(56, 146, 51) 90%
  );
  padding: 20px 0;
  margin-top: 25px;
  font-size: 2rem;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  border-top: 1px solid #343434;
}
